body{
    background-color:rgba(red, green, blue, alpha);
    background-image: url(../IMG/las-ciudades-intensifican-las-lluvias-torrenciales-1641923936288_1024.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
    background-blend-mode: luminosity;
}
header{
    background-color: rgba(255, 255,255,0.3);
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*alinear horizontal*/
    justify-content: center;
    align-items: center;
    /*efecto tipo Glass */
    backdrop-filter: blur(5px);
}
header img{
    padding: 15px;/*separacion horizontal por medio de px*/
}
nav{
    background-color: cornflowerblue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    color: beige;
}
nav ul{
    padding: 0;
    margin: 0 1px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 0 5px;
    font: bold 12px verdana;
}




